name: Builds, tests & co

on:
  - push
  - pull_request

permissions: read-all

jobs:
  hygiene:
    name: Hygiene

    runs-on: ubuntu-latest

    steps:
      - name: Checkout tree
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set-up Mise
        uses: jdx/mise-action@6d1e696aa24c1aa1bcc1adea0212707c71ab78a8 # v3.6.1
        with:
          cache: false

      - run: yarn install --immutable

      - run: yarn format:check

      - run: yarn lint

      - run: yarn type-check

      - name: Ensure dist directory is up-to-date
        if: runner.os == 'Linux'
        shell: bash
        run: |
          yarn build
          if [ "$(git status dist --porcelain | wc -l)" -gt "0" ]; then
            echo "Detected uncommitted changes after build. See status below:"
            git diff
            exit 1
          fi

  test:
    name: Test

    runs-on: ubuntu-latest

    steps:
      - name: Checkout tree
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Run FOSSA scan and upload build data
        uses: ./
        with:
          fossa-api-key: 570e8f8e839e20a229f196974ede9a4d

  build-and-push:
    name: Build and Push

    if: ${{ github.event_name == 'pull_request' && github.actor == 'renovate[bot]' }}

    permissions:
      contents: write

    runs-on: ubuntu-latest

    steps:
      - name: Checkout tree
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 2
          ref: ${{ github.head_ref }}

      - name: Set-up Mise
        uses: jdx/mise-action@6d1e696aa24c1aa1bcc1adea0212707c71ab78a8 # v3.6.1
        with:
          cache: false

      - run: yarn install --immutable

      - run: yarn build

      - name: Get last commit message
        id: last-commit-message
        run: echo "message=$(git log -1 --pretty=%s)" >>"$GITHUB_OUTPUT"

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 # v7.1.0
        with:
          commit_message: ${{ steps.last-commit-message.outputs.message }}
          commit_options: --amend --no-edit
          push_options: --force
          skip_fetch: true
